.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 0 0 !important;
  font-weight: bolder !important;
}

h1 {
  font-family: "Playwrite MX", cursive;
  font-weight: 400;
  color: white;
  cursor: pointer;
}
