.background-image {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  filter: grayscale(100%);
  opacity: 0.5;
  position: fixed;
}

.container {
  // background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-searchbar {
  .MuiOutlinedInput-root {
    color: whitesmoke; /* Change input color */
    fieldset {
      border: 2px solid whitesmoke !important;
    }
  }
  .MuiInputLabel-root {
    color: whitesmoke; /* Change label color */
    &.Mui-focused {
      color: whitesmoke !important;
      font-weight: bold;
    }
  }
}

.display-container,
.custom-modal {
  // background-color: darkblue;
  background-image: url("https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  width: 480px;
  height: 580px;
  margin: 10px;
  padding: 10px;
  opacity: 0.9;
  border: 2px solid darkgrey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: calc(100vh - 100px); /* Adjust 100px as necessary */
}

.all-info {
  // background-color: aqua;
  width: 70%;
}

.user-info {
  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid whitesmoke;
  }
}

.username-name {
  // width: 40%;
  margin: auto;
  h3,
  h4 {
    // background-color: yellowgreen;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 3px;
  }
  h4 {
    font-weight: 400;
  }
}

.visit-profile-button {
  background-color: whitesmoke !important;
  border: solid 1px darkgray !important;
  color: black !important;
  font-weight: bold !important;
  width: 60%;
  margin: 10px 0px 10px 0px !important;
}

.visit-profile-button:hover {
  background-color: whitesmoke !important;
  opacity: 0.8;
}

.rest-info {
  // background-color: red;
  width: 60%;
  text-align: start;
  font-weight: 400;
  margin: auto;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  h4 {
    margin: 4px 0px 4px 0px;
  }
}

.followers-following {
  // background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;

  p {
    // background-color: green;
    margin: 0px;
    padding-left: 15px;
    color: whitesmoke;
  }
}

.react-icon {
  // background-color: red;
  position: absolute;
  top: 2px;
  left: 0px;
  color: whitesmoke !important;
}

.custom-modal p {
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  .display-container,
  .custom-modal {
    min-height: 620px;
    width: 300px;
    height: 550px;
  }

  .custom-searchbar {
    .MuiOutlinedInput-root {
      color: #777b7e; /* Change input color */
      fieldset {
        border: 2px solid #777b7e !important;
      }
    }
    .MuiInputLabel-root {
      color: #777b7e; /* Change label color */
      &.Mui-focused {
        color: #777b7e !important;
        font-weight: bold;
      }
    }
  }

  .all-info {
    width: 100%;
  }

  .visit-profile-button,
  .rest-info,
  .followers-following {
    width: 70%;
  }
}
